*.pt
*spaCy/
config/*
*__pycache__*
graphs_and_tables/
results/*
datasets/*/data/*/*.npy
datasets/*/*.csv
datasets/*/*.json
datasets/*/.ipynb_checkpoint/
*trained_models/*
*extracted_rationales/*
*faithfulness/*
experiment_logs/
experiment_config/
slurm-*.out
*.sh
*.npy
without_lime_full_fidelity/double_extracted_rationales/
without_lime_full_fidelity/extracted_rationales/
without_lime_full_fidelity/double_faithfulness_metrics/*/*metrics.json
without_lime_full_fidelity/faithfulness_metrics/*/*metrics.json
double_kldiv/extracted_rationales/
double_jsd/extracted_rationales/
double_perplexity/extracted_rationales/
double_classdiff/extracted_rationales/
double_kldiv/faithfulness_metrics/*/*metrics.json
double_jsd/faithfulness_metrics/*/*metrics.json
double_perplexity/faithfulness_metrics/*/*metrics.json
double_classdiff/faithfulness_metrics/*/*metrics.json
kldiv/extracted_rationales/
jsd/extracted_rationales/
perplexity/extracted_rationales/
classdiff/extracted_rationales/
kldiv/faithfulness_metrics/*/*metrics.json
jsd/faithfulness_metrics/*/*metrics.json
perplexity/faithfulness_metrics/*/*metrics.json
classdiff/faithfulness_metrics/*/*metrics.json
five_percent/extracted_rationales/
full_fidelity/extracted_rationales/
five_percent/faithfulness_metrics/*/*metrics.json
full_fidelity/faithfulness_metrics/*/*metrics.json
datasets/*

datasets/*.zip*
extracted_rationales/*
*.npy
faithfulness_metrics/*
run_local.sh
*trained_models/*
./faithfulness_metrics/agnews_conti/topk-test-faithfulness-metrics.json
./faithfulness_metrics/agnews_conti/contigious-test-faithfulness-metrics.json
./faithfulness_metrics/agnews/topk-dev-faithfulness-metrics.json
./faithfulness_metrics/agnews/contigious-dev-faithfulness-metrics.json
./faithfulness_metrics/agnews_top/topk-test-faithfulness-metrics.json
./faithfulness_metrics/agnews_top/contigious-test-faithfulness-metrics.json
./trained_models/sst_conti/bert10.pt
./trained_models/multirc/roberta25.pt
./trained_models/sst_top/bert10.pt
./trained_models/evinf_conti/scibert10.pt
./trained_models/agnews_conti/bert5.pt
./trained_models/agnews/bert10.pt
./trained_models/evinf_top/scibert15.pt
./trained_models/agnews_top/bert5.pt
./trained_models/sst/bert25.pt
./trained_models/evinf/scibert25.pt
./datasets/multirc/data/importance_scores/test_importance_scores_roa25.npy
./datasets/multirc/data/importance_scores/dev_importance_scores_roa25.npy
./datasets/agnews/data/importance_scores/dev_importance_scores_10.npy
./.git/objects/pack/pack-5ab73ca7b8a4c9f55cb41efcd5a585fde46e6d49.pack
./extracted_rationales/multirc/contigious/dev-rationale_metadata.npy
./extracted_rationales/multirc/contigious/test-rationale_metadata.npy
./extracted_rationales/multirc/topk/dev-rationale_metadata.npy
./extracted_rationales/multirc/topk/test-rationale_metadata.npy
./extracted_rationales/agnews_conti/contigious/dev-rationale_metadata.npy
./extracted_rationales/agnews_conti/contigious/test-rationale_metadata.npy
./extracted_rationales/agnews_conti/topk/dev-rationale_metadata.npy
./extracted_rationales/agnews_conti/topk/test-rationale_metadata.npy

./extracted_rationales/agnews/topk/test-rationale_metadata.npy
./extracted_rationales/agnews/topk/dev-rationale_metadata.npy
./faithfulness_metrics/agnews/topk-dev-faithfulness-metrics.json
./multilingual_trained_models/evinf/mbert10.pt
./spaCy/.git/objects/pack/pack-700a24b7fa7859e852424f9002cb1ce70fc49ff8.pack

